.fighters-title {
   font-family: 'Germania One';
   font-size: 30px;
   font-weight: 400;
   line-height: 35px;
   text-align: center;

   color: #DA8B14;
   margin-top: 20px;
}

/* .stepper-fighter-step-wrapper {
    background: url("../assets/images/step1.png");
} */
.general-fighters-step-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}