.margin-top, .margin-bottom {
    width: 100%;
    max-width: 100%;
    height: 32px;
}

.margin-top {
    background-image: url("../assets/images/margin-top.png");
}

.margin-bottom {
    background-image: url("../assets/images/margin-bottom.png");
    position: absolute;
    bottom: 0;
}